@media (max-width: 800px) {
    .img-container{
        background-position: 0 20%;
    }

    .cover-text{
        top: 100px;
    }

    .cover-text h1{
        font-size:40px;
    }
    .cover-text p{
        font-size:10px;
    }

    .brand-container{
        margin-bottom: 0px;
    }

}

body{
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    z-index:1;
    overflow: hidden;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

#menu h1:hover, #about h1:hover{
    text-decoration: underline;
    text-decoration-color: lightgrey;
}

#about button, #menu button{
    width:100%;
    border:none;
    outline:none;
    background-color: white;
}

.nav-link{
    transition: 1s;
    text-transform: uppercase !important;
}

.nav-link:hover{
    text-decoration: underline;
}

.cover-text{
    position: absolute;
    bottom:0px;
    color: black;
}

.cover-text p{
    color:white;
    letter-spacing: 4px;
    text-align: center;
}


.brand-container{
    position: relative;
    width:100%;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-container{
    margin-top:80px;
    height:450px;
    width:100%;
    opacity: 0.4;
    background-image: url("src/cover.jpg");
    background-position-y: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.navbar-nav li{
    margin: 0 5px auto;
}

.col-md-4 a{
    letter-spacing: 4px;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.menu-card{
    overflow: hidden;
    transition: 0.5s;
    border:none;
}

.menu-card:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.menu-card img{
    transition: 1s;
    position: relative;
}

.menu-card:hover img{
    overflow: hidden;
    position: relative;
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
}

hr.break{
    border: 4px solid #5cb85c;
}

.passage{
    margin:20px 0;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    max-width:460px;
}

.passage h2{
    border-radius: 0px;
    /*background-color: #cae8ca;*/
    color:green;
}

.about-us-passage{
    margin:20px 0px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.about-us-passage h1{
    max-width:360px;
    margin:auto;
    border-radius: 100px;
    background-color: #a1b9a1;
    color:white;
}
/*
font-family: 'Nunito', sans-serif;
*/
