body{
    font-family: 'Montserrat', sans-serif;
}

.nav-link{
    text-transform: uppercase !important;
}

.cover-text{
    position: absolute;
    bottom:30px;
    color: black;
}

.cover-text p{
    color:white;
    letter-spacing: 4px;
    text-align: center;
}

.brand-container{
    position: relative;
}

.brand-container img{
    opacity: 0.5;
    width:100%;
    margin:20px 0 auto;
}

.navbar-nav li{
    margin: 0 10px auto;
}

.col a{
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

.col a:hover{
    letter-spacing: 4px;
    color:black;

}
